$mainSectionsConsistentSidePaddingOrMargin: 5%;
$childSectionsConsistentSidePaddingOrMarginLargeDevices: 30%;
$childSectionsConsistentSidePaddingOrMarginMediumDevices: 10%;
$childSectionsConsistentSidePaddingOrMarginSmallDevices: 5%;

$animatedTextFontSizeHeadingSmallDevices: 0.7rem;
$animatedTextFontSizeSubTextSmallDevices: 0.65rem;