@import "./General.scss";

.hero-section-container {
    position: relative;
    font-family: "Source Code Pro", monospace;
    font-size: 11;
    font-weight: 100;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-container {
        padding-left: 10%;
        padding-right: 10%;
        position: absolute;
        width: 100%;
        top: 60%;
        transform: translateY(-60%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        div {
            margin: 0;
            padding: 0;
            width: 100%;

            .source-link {
                opacity: 0;
                transition: opacity 2s ease-in-out;
            }
            
            .source-link.visible {
                opacity: 1;
            }
        }

        .welcome-text {
            width: 100%;
        }

        .coding-lottie-animation {
            width: 40%;
            max-width: 800px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: right;
        }

        @media (max-width: 700px) {
            flex-direction: column;

            div {
                width: 100%;
            }

            .welcome-text {
                width: 100%;
            }

            .coding-lottie-animation {
                width: 50%;
            }
        }
    }

    @media screen and (max-width: 712px) {
        .source-link {
            font-size: $animatedTextFontSizeSubTextSmallDevices;
        }
    }

    @media screen and (max-height: 720px) {
        .source-link {
            font-size: $animatedTextFontSizeSubTextSmallDevices;
        }
    }
}