@import "./General.scss";

.particle-board-section-container {
    position: relative;
    background-color: #e1ecbd;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: $mainSectionsConsistentSidePaddingOrMargin;
    padding-right: $mainSectionsConsistentSidePaddingOrMargin;

    padding-bottom: 50px;

    h1,
    h2 {
        font-family: "Mulish", sans-serif;
        text-align: center;
        padding-top: 50px;
    }

    h1 {
        font-size: 2rem;
        transform: translateY(-50px) scale(0);
        transition: transform .7s ease;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p,
    div {
        font-family: "Montserrat", sans-serif;
    }

    p {
        margin-top: 10px;
    }

    p,
    h2 {
        margin-left: $childSectionsConsistentSidePaddingOrMarginLargeDevices;
        margin-right: $childSectionsConsistentSidePaddingOrMarginLargeDevices;
    }

    .Mui-error {
        margin-left: 0;
    }

    .particle-board-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
        width: 80%;

        .MuiTextField-root {
            width: 30%;
        }

        .form-controls-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .MuiButton-root {
                font-size: 1rem;
                border-radius: 5px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            }

            .MuiFormGroup-root {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .MuiFormControlLabel-label {
                font-size: 1rem;
            }

            .MuiCheckbox-root {
                padding: 5px;
            }
        }
    }

    .particle-board-wrapper {
        height: 200px;
        width: 100%;
        max-width: 1500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 0;

        .svg-particle-board {
            height: 200px;
            width: 100%;
            max-width: 1500px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            padding: 0;
            margin: 0;
        }
    }

    .loading-container {
        position: absolute;
        top: 16%;
        transform: translateY(-16%);
        left: 50%;
        transform: translatex(-50%);
        height: 100%;
        text-align: center;
    }

    .loading-container p {
        font-size: 1.2em;
    }

    .welcome-section {
        text-align: left;
        transform: translateY(-50px) scale(0);
        transition: transform 0.8s ease;
    }

    @media screen and (max-width: 1800px) {

        p,
        h2 {
            margin-left: $childSectionsConsistentSidePaddingOrMarginMediumDevices;
            margin-right: $childSectionsConsistentSidePaddingOrMarginMediumDevices;
        }
    }

    @media screen and (max-width: 880px) {

        p,
        h2 {
            margin-left: $childSectionsConsistentSidePaddingOrMarginSmallDevices;
            margin-right: $childSectionsConsistentSidePaddingOrMarginSmallDevices;
        }

        .particle-board-input {

            .MuiTextField-root {
                width: 80%;
            }
        }
    }
}